@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@import url('./colors.css');

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: calc(100vh - 20px);
  padding: 10px 0px;
  background-color: var(--main-bg);
}

.main > div {
  margin: 10px 0px;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  flex-grow: 1;
  height: 80px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.card-infected {
  background-color: var(--infected-bg);
}

.card-recovered {
  background-color: var(--recovered-bg);
}

.card-deceased {
  background-color: var(--deceased-bg);
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 20em;
}

.virus-icon {
  display: inline-block;
  height: 40px;
  background-image: url("./res/virus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  flex-basis: 50px;
}

.heading-text {
  color: var(--heading-fg);
  font-family: 'Baumans', sans-serif;
  line-height: 40px;
}

.table-container {
  max-width: 100vw;
  max-height: 55vh;
  overflow: scroll;
}

.country-data {
  min-width: 720px;
  border-spacing: 0;
  font-family: 'Oxygen', sans-serif;
}

td {
  transition: all 0.2s ease;
}

.country-data th, .country-data td {
  padding: 10px 5px;
}

tr:hover .country {
  background-color: var(--country-hover-bg);
}

tr:hover .infected {
  background-color: var(--infected-hover-bg);
}

tr:hover .recovered {
  background-color: var(--recovered-hover-bg);
}

tr:hover .deceased {
  background-color: var(--deceased-hover-bg);
}

.country-header {
  background-color: var(--country-header-bg);
}

.infected-header {
  background-color: var(--infected-header-bg);
}

.recovered-header {
  background-color: var(--recovered-header-bg);
}

.deceased-header {
  background-color: var(--deceased-header-bg);
}

.country {
  background-color: var(--country-bg);
  background-position: 10px center;
  background-size: 25px;
  background-repeat: no-repeat;
}

.infected {
  background-color: var(--infected-bg);
}

.recovered {
  background-color: var(--recovered-bg);
}

.deceased {
  background-color: var(--deceased-bg);
}

.data-row {
  text-align: center;
  color: var(--secondary-fg);
}

.status {
  font-family: 'Oxygen', sans-serif;
  color: var(--status-fg);
}

.world-stats, .search-container, .cards-container, .status {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 720px;
  width: 100vw;
}

h5 {
  font-size: 15px;
}

.world-heading {
  text-align: center;
  font-family: 'Baumans', sans-serif;
  color: var(--heading-fg);
  margin: 0;
  margin-bottom: 10px;
}

.world-stats {
  flex-flow: column wrap;
}

.search-container, .cards-container {
  flex-flow: row wrap;
  justify-content: space-between;
}

.search {
  flex-grow: 0.95;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 1em;
  background-color: var(--search-bg);
  color: var(--search-fg);
}

.button {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--button-fg);
}

.button-clear {
  flex-basis: 100px;
}

th:hover, .button:hover {
  cursor: pointer;
  user-select: none;
}

th[data-sorted="true"][data-asc="true"] {
  background-image: url("./res/triangle-up.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: calc(96% - 3px) 55%;
}

th[data-sorted="true"][data-asc="false"] {
  background-image: url("./res/triangle-down.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: calc(96% - 3px) 55%;
}
